/* product header */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'poppins',sans-serif; 
}

.headtext h1{
    font-weight: lighter;
    font-size:70px;
    color:white;
    box-sizing: border-box;
}
.headtext hr{
    background-color: white;
  
    
}



/* product pictures */
/* .bestselling{
    height: 1000px;
    width: 100%;
    padding: 70px 0px 50px;
} */
.bestselling h2{
    font-size: 20px;
    font-weight: bold;
}
.bestselling h1{
    font-size:45;
  color: #416163;
}
.card{
    margin-top:40px;
}

.products h2{
    font-size: 20px;
    font-weight: bold;
}
.products img{
    margin: 30px;
}
.products h1{
    font-size:45;
  color: #416163;
}
.traditional h2{
    font-size: 20px;
    font-weight: bold;
}
.traditional h1{
    font-size:45;
  color: #416163;
}
.traditional{
    height: 570px;
    width: 100%;
    padding: 70px 0px 50px;
}
/* ----------------------------------- */
.product_item_pic{
    height: 360px;
    position: relative;
    overflow: hidden;
}
.product_item_pic .label{
    position: absolute;
    font-size: 16px;
    color: #fff;
    background-color: #416163;
    font-weight: 500;
    display: inline-block;
    text-transform: uppercase;
    padding: 2% 3%;
    left: 1%;
    top: 1%;
}


/* ////////////////////////////----------    ABOUT    ---------------                        */

.team1 h2{
    font-size: 45px;
    font-weight: bold;
}
.team h2{
    font-size: 45px;
    font-weight: bold;
}
.team p{
    font-size: 23px;
    color:cornflowerblue;
}
.team1 p{
    font-size: 23px;
    color:cornflowerblue;
}

/* ////////////////////////////----------    ORDER    ---------------                        */
.related h2{
    font-size: 20px;
    font-weight: bold;
}
.related{
    height: 570px;
    width: 100%;
    padding: 70px 0px 50px;
}
.related h1{
    font-size: 30px;
    margin-bottom:10px;
}
.related h5 a{
    color: black;
}
.related #btn{
    border-radius: 20px 20px;
    background-color: black;
    color: white;
    padding: 3px 30px;
}
.related input{
    width: 90px;
    margin-right: 20px;
}
/* ////////////////////////////----------    CART    ---------------                        */
.header{
    background-color: #416163;
    color: white;
}
.cart span{
    font-size: 20px;
};

.cart{
    height: 700px;
    width: 100%;
    padding: 70px 0px 50px;
}
.cart h1{
    font-size: 30px;
    margin-bottom:10px;
}
.cart input{
    width: 40px;
    margin-right: 40px;
    text-align: center;
}
.total{
    color:#416163;
    font-size: 25px;
}